body			 { Background-image: url(img/site2.jpg); width:100%; height:100%;
				Font-family: audiowide;
				color: black;  
				background-repeat: true; }

			
				
				#tabelle {
				margin-left: -60px;
				}

				#tekst {z-index:1;
					background-color: lightgrey;
					width: 700px;
					padding: 25px;
					border: 25px solid black;
					margin: 25px;
					height: 1000px;  
					margin-left:15%}
	
				#quiz {z-index:1;
					background-color: lightgrey;
					width: auto;
					padding: 5px;
					border: 5px solid black;
					margin-right: 60px;
					height: auto;  
					margin-left:0px}
					
				#img { Float: top; }  
				
				#link { margin-left: 400 ; broder: 0;}
				p { font-style: audiowide ; color="black" ;}
				
				b.citaat { font-style: audiowide ; }
				b.citaat:hover { color: red;}
				h1 {color: red}
				h3 {color: red}
				
*{
	margin:0px;
	}
#slider {
	height:400px;
	width:650px;
	margin: 35px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:400px;
	width:650px;
	position:absolute;
	}
				
			
table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
	margin-left: 70px;
}
th, td {
    padding: 5px;
    text-align: left;
}
table #t01 {
    width: 100%;    
    background-color: hotpink;
}
#nav { background-color: #222 ;
margin-left: -15px ;
margin-right: -15px;
margin-top: -15px;}
#nav_wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 20px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 10px solid #222;
    border-top: 0;
    margin-left: -50px;
	margin-top: -5px ;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}



 .left_hold{
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
.left:hover .left1



	
